<nav id="menu">
	<h2>Menu</h2>
	<ul>

		{% for page in site.pages %}
		{% if page.path == "index.html" %}
		<li><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></li>
		{% endif %} {% endfor %}

		<li><a href="{{ page.url | prepend: site.baseurl }}#contact">Contact</a></li>
		<li><a href="{{ page.url | prepend: site.baseurl }}#projets">Projets</a></li>

		{% for page in site.pages %}

		{% if page.title %}

		<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title | remove: "" }}</a></li>

		{% endif %} {% endfor %}
	</ul>
</nav>
