<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <h1>{{ page.title }}</h1> {% if page.featured-image %}

    {% endif %}

    {{ content }}
    <span class="image main">
      <img src="{{ page.featured-image1 }}" alt="img1">
    </span>

    {{ content }}
    <span class="image main">
      <img src="{{ page.featured-image2 }}" alt="img2">
    </span>

    {{ content }}
    <span class="image main">
      <img src="{{ page.featured-image3 }}" alt="img3">
    </span>
    
    {% include footer.html %}


</body>

</html>
